In [4]:
#importing necessary libraries
import pandas as pd

In [2]:
pandas.read_csv('student info.csv')
csv

   students  height fav_color
0    akwasi     185     black
1  franklin     175  burgundy
2  nashirat     178    purple
3     irene     188     green
4      amma     185      pink

In [5]:
data = pd.read_csv('student info.csv')
data

   students  height fav_color
0    akwasi     185     black
1  franklin     175  burgundy
2  nashirat     178    purple
3     irene     188     green
4      amma     185      pink

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   students   5 non-null      object
 1   height     5 non-null      int64
 2   fav_color  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes